PY_CORRECTOR_KEY_COMB_FIX_TEXT="<ctrl>+<alt>+m"
PY_CORRECTOR_KEY_COMB_FIX_LINE="<ctrl>+<alt>+l"
PY_CORRECTOR_AI_ADDRESS="http://localhost:1234/v1"
PY_CORRECTOR_API_KEY="not-needed"
PY_CORRECTOR_AI_RULE="Fix all typos and casing and punctuation in this text, but preserve all new line characters, spaces and indentation"